@page
@model DotnetPublishModel
@{
    ViewData["Title"] = "Publishing your app";
}
<h1>@ViewData["Title"]</h1>

<p>@Html.Raw(@Model.Description)</p>

<div class="card mt-4">
    <h3 class="card-header">Command line options</h3>

    <div class="card-body">
        @Html.Raw(Model.Flags)
    </div>
</div>

<div class="card mt-4">
    <h3 class="card-header">Resources</h3>

    <div class="card-body">
        @Html.Raw(Model.Resources)
    </div>
</div>