@page
@model ManifestModel
@{
    ViewData["Title"] = "Cloud Foundry Manifest File";
}
<h1>@ViewData["Title"]</h1>

<div class="card mt-4">
    <h3 class="card-header">Required Attributes</h3>

    <div class="card-body">
        @Html.Raw(@Model.RequiredAttributes)
    </div>
</div>

<div class="card mt-4">
    <h3 class="card-header">Optional Attributes</h3>

    <div class="card-body">
        @Html.Raw(@Model.OptionalAttributes)
    </div>
</div>

<div class="card mt-4">
    <h3 class="card-header">Resources</h3>

    <div class="card-body">
        @Html.Raw(@Model.Resources)
    </div>
</div>