@page
@model ManifestModel
@{
    ViewData["Title"] = "Cloud Foundry Manifest File";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-header">Required Attributes</div>
    <div class="card-body">@Html.Raw(@Model.RequiredAttributes)</div>
</div>

<div>
    <h2>Optional Attributes</h2>
    @Html.Raw(@Model.OptionalAttributes)
</div>

<div>
    <h2>Resources</h2>
    @Html.Raw(@Model.Resources)
</div>